<div
  class="container mt-5 d-flex flex-column justify-content-center align-items-center"
>
  {{#if errorMsg}}
    <h1 class="title">{{errorMsg}}</h1>
    <div
      class="d-flex align-items-center my-3 w-50"
      style="background-image: url('https://source.unsplash.com/sxiSod0tyYQ'); background-size: cover; height: 20rem;"
    >
    </div>
    <a href="/" class="btn btn-secondary mt-3">Back</a>
  {{else}}
    <a href="/" class="text-decoration-none text-dark">
      <h1 class="title">URL Shortener</h1>
      <img
        class="m-5"
        style="width:150px;"
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="URL Shortener Image"
      />
    </a>
    <form
      action="/"
      method="POST"
      class="d-flex flex-column justify-content-center align-items-center"
      style="width: 20rem"
    >
      {{#if url}}
        <div>
          <h4 class="mb-3">Success! Please use this link:</h4>
          <a
            href="/{{url.shortUrl}}"
            id="short-url"
          >http://localhost/{{url.shortUrl}}</a>
        </div>
        <button
          type="button"
          class="btn btn-primary mt-3"
          onclick="copyLink()"
        >Copy</button>
      {{else}}
        <input
          type="text"
          class="form-control"
          placeholder="Input URL here"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
          name="fullUrl"
          required
        />
        <button
          type="submit"
          class="btn btn-outline-primary mt-2"
          style="width:10rem"
        >Shorten</button>
      {{/if}}
    </form>
  {{/if}}
</div>

{{!-- handle copy function --}}
<script>
  function copyLink() { 
    const url = document.getElementById("short-url")
    navigator.clipboard.writeText(url.innerText)
      .then(() => alert('Copied!'))
      .catch(error => console.log(error)) 
  }
</script>